USE [master]
GO
/****** Object:  Database [kantarmediaworldcup]    Script Date: 7/20/2014 4:41:51 PM ******/
CREATE DATABASE [kantarmediaworldcup]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kantarmediaworldcup].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [kantarmediaworldcup]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/20/2014 4:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/20/2014 4:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/20/2014 4:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/20/2014 4:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/20/2014 4:41:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/20/2014 4:41:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[RegistrationDate] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[LongRunningPoints]    Script Date: 7/20/2014 4:41:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LongRunningPoints](
	[UserId] [nvarchar](128) NOT NULL,
	[SecondStagePoints] [int] NOT NULL,
	[QuarterFinalPoints] [int] NOT NULL,
	[SemiFinalPoints] [int] NOT NULL,
	[SmallFinalPoints] [int] NOT NULL,
	[FinalPoints] [int] NOT NULL,
	[WinnerPoints] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LongRunningPoints] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[LongRunningPredictions]    Script Date: 7/20/2014 4:41:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LongRunningPredictions](
	[UserId] [nvarchar](128) NOT NULL,
	[SecondStageTeams] [nvarchar](max) NULL,
	[QuarterFinalTeams] [nvarchar](max) NULL,
	[SemiFinalTeams] [nvarchar](max) NULL,
	[SmallFinalTeams] [nvarchar](max) NULL,
	[FinalTeams] [nvarchar](max) NULL,
	[WinnerTeamId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.LongRunningPredictions] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[LongRunningResults]    Script Date: 7/20/2014 4:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LongRunningResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecondStageTeams] [nvarchar](max) NULL,
	[QuarterFinalTeams] [nvarchar](max) NULL,
	[SemiFinalTeams] [nvarchar](max) NULL,
	[SmallFinalTeams] [nvarchar](max) NULL,
	[FinalTeams] [nvarchar](max) NULL,
	[WinnerTeamId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.LongRunningResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Matches]    Script Date: 7/20/2014 4:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[State] [int] NOT NULL,
	[Stage] [int] NOT NULL,
	[HomeTeamId] [nvarchar](128) NOT NULL,
	[AwayTeamId] [nvarchar](128) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Result] [int] NOT NULL,
	[HomeTeamHalfTimeGoals] [int] NOT NULL,
	[AwayTeamHalfTimeGoals] [int] NOT NULL,
	[HomeTeamFullTimeGoals] [int] NOT NULL,
	[AwayTeamFullTimeGoals] [int] NOT NULL,
	[YellowCards] [int] NOT NULL,
	[RedCards] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Matches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[MatchPoints]    Script Date: 7/20/2014 4:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchPoints](
	[MatchPointsId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[MatchId] [int] NOT NULL,
	[Points] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MatchPoints] PRIMARY KEY CLUSTERED 
(
	[MatchPointsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[MatchPredictions]    Script Date: 7/20/2014 4:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchPredictions](
	[MatchPredictionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[MatchId] [int] NOT NULL,
	[Result] [int] NOT NULL,
	[HomeTeamHalfTimeGoals] [int] NOT NULL,
	[AwayTeamHalfTimeGoals] [int] NOT NULL,
	[HomeTeamFullTimeGoals] [int] NOT NULL,
	[AwayTeamFullTimeGoals] [int] NOT NULL,
	[YellowCards] [int] NOT NULL,
	[RedCards] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MatchPredictions] PRIMARY KEY CLUSTERED 
(
	[MatchPredictionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 7/20/2014 4:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Parameters] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[RaisedMoney]    Script Date: 7/20/2014 4:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaisedMoney](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RaisedMoney] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SystemParameters]    Script Date: 7/20/2014 4:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemParameters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupHalfTimeScoreFactor] [int] NOT NULL,
	[GroupFullTimeScoreFactor] [int] NOT NULL,
	[GroupWinnerFactor] [int] NOT NULL,
	[GroupYellowCardsNumberFactor] [int] NOT NULL,
	[GroupRedCardsNumberFactor] [int] NOT NULL,
	[FinalsHalfTimeScoreFactor] [int] NOT NULL,
	[FinalsFullTimeScoreFactor] [int] NOT NULL,
	[FinalsWinnerFactor] [int] NOT NULL,
	[FinalsYellowCardsNumberFactor] [int] NOT NULL,
	[FinalsRedCardsNumberFactor] [int] NOT NULL,
	[Round16TeamsFactor] [int] NOT NULL,
	[QuarterFinalTeamsFactor] [int] NOT NULL,
	[SemiFinalTeamsFactor] [int] NOT NULL,
	[SmallFinalTeamsFactor] [int] NOT NULL,
	[FinalTeamsFactor] [int] NOT NULL,
	[WinnerTeamFactor] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SystemParameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 7/20/2014 4:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_dbo.Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  View [dbo].[FinalStatistics]    Script Date: 7/20/2014 4:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[FinalStatistics] as
							select Teams.Code, count(LongRunningPredictions.FinalTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.FinalTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[QuarterFinalStatistics]    Script Date: 7/20/2014 4:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[QuarterFinalStatistics] as
							select Teams.Code, count(LongRunningPredictions.QuarterFinalTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.QuarterFinalTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[SecondStageStatistics]    Script Date: 7/20/2014 4:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SecondStageStatistics] as
							select Teams.Code, count(LongRunningPredictions.SecondStageTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.SecondStageTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[SemiFinalStatistics]    Script Date: 7/20/2014 4:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SemiFinalStatistics] as
							select Teams.Code, count(LongRunningPredictions.SemiFinalTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.SemiFinalTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[SmallFinalStatistics]    Script Date: 7/20/2014 4:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SmallFinalStatistics] as
							select Teams.Code, count(LongRunningPredictions.SmallFinalTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.SmallFinalTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[WinnerStatistics]    Script Date: 7/20/2014 4:41:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[WinnerStatistics] as
							select Teams.Id as Code, count(LongRunningPredictions.WinnerTeamId)  as Count
							from Teams left join LongRunningPredictions on 
							Teams.Id = LongRunningPredictions.WinnerTeamId
							group by Teams.Id
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'fb986095-a934-4cec-adab-06bac3b83934', N'Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'963e0cbb-9fee-4555-b8b7-fb3d30eb240b', N'fb986095-a934-4cec-adab-06bac3b83934')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ab9ae9c4-aebb-440d-abac-4f3967a536a1', N'fb986095-a934-4cec-adab-06bac3b83934')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd7d5c846-28ac-42a5-8b85-f47ff1987914', N'fb986095-a934-4cec-adab-06bac3b83934')
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [RegistrationDate]) VALUES (N'2153fe7f-a565-449e-b702-550b96ce3bfb', N'Tong Chong', N'Han', N'tongchong.han@kantarmedia.com', 1, N'APy6UFo5kFqIuofOEnUgNwOLfpkRVF1/smuiu5soyDR8sVYvfPw7NweMlP5VgeEV6Q==', N'59377052-9b51-4915-ba10-da7d0df2a300', NULL, 0, 0, NULL, 1, 0, N'tongchong.han@kantarmedia.com', CAST(N'2014-06-11 10:36:54.737' AS DateTime))
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [RegistrationDate]) VALUES (N'222a3a7a-3aab-4851-b3b2-824da40459d4', N'May', N'Liau', N'may.liau@kantarmedia.com', 1, N'ANo5ptH3BzCBGZz+S+/pCj441BTtk26KCKLMvecy/dJr7h47R7wWm3IVy7uq0fLhBw==', N'f48c4421-789f-4830-9a0a-30b04101ffa3', NULL, 0, 0, NULL, 1, 0, N'may.liau@kantarmedia.com', CAST(N'2014-06-11 06:50:55.497' AS DateTime))
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [RegistrationDate]) VALUES (N'3ad3306c-ebba-47d6-956a-666497fd2b5b', N'Vernon', N'Ong', N'VERNON.ONG@kantarmedia.com', 1, N'AGmAUB+L/gWmL+RwHNZ1NVpmS9GUuG2pzfY9Bx7WMxaZ9NwR5uanIeFCvQN1+cRUIw==', N'44329b02-8f98-4e22-bdf3-be06b9e2f0f3', NULL, 0, 0, NULL, 1, 0, N'VERNON.ONG@kantarmedia.com', CAST(N'2014-06-11 03:56:45.153' AS DateTime))
INSERT [dbo].[LongRunningPoints] ([UserId], [SecondStagePoints], [QuarterFinalPoints], [SemiFinalPoints], [SmallFinalPoints], [FinalPoints], [WinnerPoints]) VALUES (N'222a3a7a-3aab-4851-b3b2-824da40459d4', 50, 30, 45, 0, 25, 0)
INSERT [dbo].[LongRunningPoints] ([UserId], [SecondStagePoints], [QuarterFinalPoints], [SemiFinalPoints], [SmallFinalPoints], [FinalPoints], [WinnerPoints]) VALUES (N'd7d5c846-28ac-42a5-8b85-f47ff1987914', 45, 20, 15, 0, 0, 0)
INSERT [dbo].[LongRunningPredictions] ([UserId], [SecondStageTeams], [QuarterFinalTeams], [SemiFinalTeams], [SmallFinalTeams], [FinalTeams], [WinnerTeamId]) VALUES (N'222a3a7a-3aab-4851-b3b2-824da40459d4', N'arg,bel,bra,col,ecu,eng,ger,gre,ita,mex,ned,nga,por,kor,esp,sui', N'arg,bra,eng,ger,ita,nga,por,esp', N'arg,bra,ger,ita', N'ger,ita', N'arg,bra', N'bra')
INSERT [dbo].[LongRunningPredictions] ([UserId], [SecondStageTeams], [QuarterFinalTeams], [SemiFinalTeams], [SmallFinalTeams], [FinalTeams], [WinnerTeamId]) VALUES (N'd7d5c846-28ac-42a5-8b85-f47ff1987914', N'alg,arg,aus,bra,cro,eng,fra,ger,irn,ita,mex,nga,rus,esp,usa,uru', N'bra,cro,eng,fra,ita,mex,esp,uru', N'bra,eng,esp,uru', N'eng,uru', N'bra,esp', N'bra')
SET IDENTITY_INSERT [dbo].[LongRunningResults] ON 

INSERT [dbo].[LongRunningResults] ([Id], [SecondStageTeams], [QuarterFinalTeams], [SemiFinalTeams], [SmallFinalTeams], [FinalTeams], [WinnerTeamId]) VALUES (1, N'alg,arg,bel,bra,chi,col,crc,fra,ger,gre,mex,ned,nga,sui,usa,uru', N'arg,bel,bra,col,crc,fra,ger,ned', N'arg,bra,ger,ned', N'bra,ned', N'arg,ger', N'ger')
SET IDENTITY_INSERT [dbo].[LongRunningResults] OFF
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([Id], [State], [Stage], [HomeTeamId], [AwayTeamId], [Date], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (1, 2, 0, N'bra', N'cro', CAST(N'2014-06-12 20:00:00.000' AS DateTime), 0, 1, 1, 3, 1, 4, 0)
INSERT [dbo].[Matches] ([Id], [State], [Stage], [HomeTeamId], [AwayTeamId], [Date], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (2, 2, 0, N'mex', N'cmr', CAST(N'2014-06-13 16:00:00.000' AS DateTime), 0, 0, 0, 1, 0, 2, 0)
INSERT [dbo].[Matches] ([Id], [State], [Stage], [HomeTeamId], [AwayTeamId], [Date], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (3, 2, 1, N'esp', N'ned', CAST(N'2014-06-13 19:00:00.000' AS DateTime), 2, 1, 1, 1, 5, 4, 0)
SET IDENTITY_INSERT [dbo].[Matches] OFF
SET IDENTITY_INSERT [dbo].[MatchPoints] ON 

INSERT [dbo].[MatchPoints] ([MatchPointsId], [UserId], [MatchId], [Points]) VALUES (1, N'2153fe7f-a565-449e-b702-550b96ce3bfb', 1, 0)
INSERT [dbo].[MatchPoints] ([MatchPointsId], [UserId], [MatchId], [Points]) VALUES (2, N'222a3a7a-3aab-4851-b3b2-824da40459d4', 1, 0)
INSERT [dbo].[MatchPoints] ([MatchPointsId], [UserId], [MatchId], [Points]) VALUES (3, N'3ad3306c-ebba-47d6-956a-666497fd2b5b', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[MatchPoints] OFF
SET IDENTITY_INSERT [dbo].[MatchPredictions] ON 

INSERT [dbo].[MatchPredictions] ([MatchPredictionId], [UserId], [MatchId], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (1, N'd7d5c846-28ac-42a5-8b85-f47ff1987914', 1, 0, 2, 1, 3, 1, 3, 5)
INSERT [dbo].[MatchPredictions] ([MatchPredictionId], [UserId], [MatchId], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (2, N'd7d5c846-28ac-42a5-8b85-f47ff1987914', 2, 0, 1, 0, 2, 0, 4, 1)
INSERT [dbo].[MatchPredictions] ([MatchPredictionId], [UserId], [MatchId], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (3, N'd7d5c846-28ac-42a5-8b85-f47ff1987914', 3, 0, 2, 1, 2, 1, 5, 0)
GO
SET IDENTITY_INSERT [dbo].[MatchPredictions] OFF
INSERT [dbo].[Parameters] ([Name], [Value]) VALUES (N'ApplicationLogo', N'kantarmedia.logo.png')
INSERT [dbo].[Parameters] ([Name], [Value]) VALUES (N'ApplicationLogoText', N'Kantar Media World Cup 2014')
INSERT [dbo].[Parameters] ([Name], [Value]) VALUES (N'IntroductionText', N'Welcome to the Kantar Media World Cup 2014 pool. ')
SET IDENTITY_INSERT [dbo].[RaisedMoney] ON 

INSERT [dbo].[RaisedMoney] ([Id], [Date], [Amount]) VALUES (1, CAST(N'2014-06-06 00:00:00.000' AS DateTime), 50)
INSERT [dbo].[RaisedMoney] ([Id], [Date], [Amount]) VALUES (2, CAST(N'2014-06-09 00:00:00.000' AS DateTime), 32)
INSERT [dbo].[RaisedMoney] ([Id], [Date], [Amount]) VALUES (3, CAST(N'2014-06-11 00:00:00.000' AS DateTime), 44)
SET IDENTITY_INSERT [dbo].[RaisedMoney] OFF
SET IDENTITY_INSERT [dbo].[SystemParameters] ON 

INSERT [dbo].[SystemParameters] ([Id], [GroupHalfTimeScoreFactor], [GroupFullTimeScoreFactor], [GroupWinnerFactor], [GroupYellowCardsNumberFactor], [GroupRedCardsNumberFactor], [FinalsHalfTimeScoreFactor], [FinalsFullTimeScoreFactor], [FinalsWinnerFactor], [FinalsYellowCardsNumberFactor], [FinalsRedCardsNumberFactor], [Round16TeamsFactor], [QuarterFinalTeamsFactor], [SemiFinalTeamsFactor], [SmallFinalTeamsFactor], [FinalTeamsFactor], [WinnerTeamFactor]) VALUES (1, 2, 2, 2, 1, 1, 2, 4, 5, 2, 2, 5, 10, 15, 15, 25, 50)
SET IDENTITY_INSERT [dbo].[SystemParameters] OFF
INSERT [dbo].[Teams] ([Id], [Name], [Code]) VALUES (N'alg', N'Algeria', N'ALG')
INSERT [dbo].[Teams] ([Id], [Name], [Code]) VALUES (N'arg', N'Argentina', N'ARG')
INSERT [dbo].[Teams] ([Id], [Name], [Code]) VALUES (N'aus', N'Australia', N'AUS')
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[LongRunningPoints]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[LongRunningPredictions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_WinnerTeamId]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_WinnerTeamId] ON [dbo].[LongRunningPredictions]
(
	[WinnerTeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_WinnerTeamId]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_WinnerTeamId] ON [dbo].[LongRunningResults]
(
	[WinnerTeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_MATCH_HOMETEAMAWAYTEAM]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_MATCH_HOMETEAMAWAYTEAM] ON [dbo].[Matches]
(
	[HomeTeamId] ASC,
	[AwayTeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_MATCHPOINTS_USER_MATCH]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_MATCHPOINTS_USER_MATCH] ON [dbo].[MatchPoints]
(
	[UserId] ASC,
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_MATCHPREDICTION_USER_MATCH]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_MATCHPREDICTION_USER_MATCH] ON [dbo].[MatchPredictions]
(
	[UserId] ASC,
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
/****** Object:  Index [UN_RAISEDMONEY_DATE]    Script Date: 7/20/2014 4:41:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_RAISEDMONEY_DATE] ON [dbo].[RaisedMoney]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LongRunningPoints]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LongRunningPoints_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LongRunningPoints] CHECK CONSTRAINT [FK_dbo.LongRunningPoints_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LongRunningPredictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LongRunningPredictions_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LongRunningPredictions] CHECK CONSTRAINT [FK_dbo.LongRunningPredictions_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LongRunningPredictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LongRunningPredictions_dbo.Teams_WinnerTeamId] FOREIGN KEY([WinnerTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[LongRunningPredictions] CHECK CONSTRAINT [FK_dbo.LongRunningPredictions_dbo.Teams_WinnerTeamId]
GO
ALTER TABLE [dbo].[LongRunningResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LongRunningResults_dbo.Teams_WinnerTeamId] FOREIGN KEY([WinnerTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[LongRunningResults] CHECK CONSTRAINT [FK_dbo.LongRunningResults_dbo.Teams_WinnerTeamId]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Matches_dbo.Teams_AwayTeamId] FOREIGN KEY([AwayTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_dbo.Matches_dbo.Teams_AwayTeamId]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Matches_dbo.Teams_HomeTeamId] FOREIGN KEY([HomeTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_dbo.Matches_dbo.Teams_HomeTeamId]
GO
ALTER TABLE [dbo].[MatchPoints]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchPoints_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchPoints] CHECK CONSTRAINT [FK_dbo.MatchPoints_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MatchPoints]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchPoints_dbo.Matches_MatchId] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
GO
ALTER TABLE [dbo].[MatchPoints] CHECK CONSTRAINT [FK_dbo.MatchPoints_dbo.Matches_MatchId]
GO
ALTER TABLE [dbo].[MatchPredictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchPredictions_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchPredictions] CHECK CONSTRAINT [FK_dbo.MatchPredictions_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MatchPredictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchPredictions_dbo.Matches_MatchId] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
GO
ALTER TABLE [dbo].[MatchPredictions] CHECK CONSTRAINT [FK_dbo.MatchPredictions_dbo.Matches_MatchId]
GO
USE [master]
GO
