USE [master]
GO
/****** Object:  Database [kantarworldcup]    Script Date: 7/20/2014 4:37:19 PM ******/
CREATE DATABASE [kantarworldcup]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kantarworldcup].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [kantarworldcup]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/20/2014 4:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/20/2014 4:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/20/2014 4:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/20/2014 4:37:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/20/2014 4:37:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/20/2014 4:37:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[RegistrationDate] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[LongRunningPoints]    Script Date: 7/20/2014 4:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LongRunningPoints](
	[UserId] [nvarchar](128) NOT NULL,
	[SecondStagePoints] [int] NOT NULL,
	[QuarterFinalPoints] [int] NOT NULL,
	[SemiFinalPoints] [int] NOT NULL,
	[SmallFinalPoints] [int] NOT NULL,
	[FinalPoints] [int] NOT NULL,
	[WinnerPoints] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LongRunningPoints] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[LongRunningPredictions]    Script Date: 7/20/2014 4:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LongRunningPredictions](
	[UserId] [nvarchar](128) NOT NULL,
	[SecondStageTeams] [nvarchar](max) NULL,
	[QuarterFinalTeams] [nvarchar](max) NULL,
	[SemiFinalTeams] [nvarchar](max) NULL,
	[SmallFinalTeams] [nvarchar](max) NULL,
	[FinalTeams] [nvarchar](max) NULL,
	[WinnerTeamId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.LongRunningPredictions] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[LongRunningResults]    Script Date: 7/20/2014 4:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LongRunningResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecondStageTeams] [nvarchar](max) NULL,
	[QuarterFinalTeams] [nvarchar](max) NULL,
	[SemiFinalTeams] [nvarchar](max) NULL,
	[SmallFinalTeams] [nvarchar](max) NULL,
	[FinalTeams] [nvarchar](max) NULL,
	[WinnerTeamId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.LongRunningResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Matches]    Script Date: 7/20/2014 4:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[State] [int] NOT NULL,
	[Stage] [int] NOT NULL,
	[HomeTeamId] [nvarchar](128) NOT NULL,
	[AwayTeamId] [nvarchar](128) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Result] [int] NOT NULL,
	[HomeTeamHalfTimeGoals] [int] NOT NULL,
	[AwayTeamHalfTimeGoals] [int] NOT NULL,
	[HomeTeamFullTimeGoals] [int] NOT NULL,
	[AwayTeamFullTimeGoals] [int] NOT NULL,
	[YellowCards] [int] NOT NULL,
	[RedCards] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Matches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[MatchPoints]    Script Date: 7/20/2014 4:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchPoints](
	[MatchPointsId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[MatchId] [int] NOT NULL,
	[Points] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MatchPoints] PRIMARY KEY CLUSTERED 
(
	[MatchPointsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[MatchPredictions]    Script Date: 7/20/2014 4:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchPredictions](
	[MatchPredictionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[MatchId] [int] NOT NULL,
	[Result] [int] NOT NULL,
	[HomeTeamHalfTimeGoals] [int] NOT NULL,
	[AwayTeamHalfTimeGoals] [int] NOT NULL,
	[HomeTeamFullTimeGoals] [int] NOT NULL,
	[AwayTeamFullTimeGoals] [int] NOT NULL,
	[YellowCards] [int] NOT NULL,
	[RedCards] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MatchPredictions] PRIMARY KEY CLUSTERED 
(
	[MatchPredictionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 7/20/2014 4:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Parameters] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[RaisedMoney]    Script Date: 7/20/2014 4:37:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaisedMoney](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RaisedMoney] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SystemParameters]    Script Date: 7/20/2014 4:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemParameters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupHalfTimeScoreFactor] [int] NOT NULL,
	[GroupFullTimeScoreFactor] [int] NOT NULL,
	[GroupWinnerFactor] [int] NOT NULL,
	[GroupYellowCardsNumberFactor] [int] NOT NULL,
	[GroupRedCardsNumberFactor] [int] NOT NULL,
	[FinalsHalfTimeScoreFactor] [int] NOT NULL,
	[FinalsFullTimeScoreFactor] [int] NOT NULL,
	[FinalsWinnerFactor] [int] NOT NULL,
	[FinalsYellowCardsNumberFactor] [int] NOT NULL,
	[FinalsRedCardsNumberFactor] [int] NOT NULL,
	[Round16TeamsFactor] [int] NOT NULL,
	[QuarterFinalTeamsFactor] [int] NOT NULL,
	[SemiFinalTeamsFactor] [int] NOT NULL,
	[SmallFinalTeamsFactor] [int] NOT NULL,
	[FinalTeamsFactor] [int] NOT NULL,
	[WinnerTeamFactor] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SystemParameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 7/20/2014 4:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_dbo.Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  View [dbo].[FinalStatistics]    Script Date: 7/20/2014 4:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[FinalStatistics] as
							select Teams.Code, count(LongRunningPredictions.FinalTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.FinalTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[QuarterFinalStatistics]    Script Date: 7/20/2014 4:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[QuarterFinalStatistics] as
							select Teams.Code, count(LongRunningPredictions.QuarterFinalTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.QuarterFinalTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[SecondStageStatistics]    Script Date: 7/20/2014 4:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SecondStageStatistics] as
							select Teams.Code, count(LongRunningPredictions.SecondStageTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.SecondStageTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[SemiFinalStatistics]    Script Date: 7/20/2014 4:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SemiFinalStatistics] as
							select Teams.Code, count(LongRunningPredictions.SemiFinalTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.SemiFinalTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[SmallFinalStatistics]    Script Date: 7/20/2014 4:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SmallFinalStatistics] as
							select Teams.Code, count(LongRunningPredictions.SmallFinalTeams)  as Count
							from Teams left join LongRunningPredictions on 
							LongRunningPredictions.SmallFinalTeams like '%' + Teams.Code + '%'
							group by Teams.Code
GO
/****** Object:  View [dbo].[WinnerStatistics]    Script Date: 7/20/2014 4:37:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[WinnerStatistics] as
							select Teams.Id as Code, count(LongRunningPredictions.WinnerTeamId)  as Count
							from Teams left join LongRunningPredictions on 
							Teams.Id = LongRunningPredictions.WinnerTeamId
							group by Teams.Id
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'd89a9ac3-3ca1-412b-a52e-7d1b4f70b011', N'Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'19896c82-8c81-46cc-be97-f4a5b4061d10', N'd89a9ac3-3ca1-412b-a52e-7d1b4f70b011')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5f2a5997-c153-4a0e-9939-480f688d0c33', N'd89a9ac3-3ca1-412b-a52e-7d1b4f70b011')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'869b2133-5cd3-42a4-a422-ae7ff3abdc54', N'd89a9ac3-3ca1-412b-a52e-7d1b4f70b011')
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [RegistrationDate]) VALUES (N'01348079-b1f8-46ee-ad65-21ae96c23770', N'Ross', N'Galloway', N'ross.galloway@kantar.com', 1, N'AHvjm6CHmTYcwF1xlLFx4480+P5o6adnSY3izj4FCxfLxBpzW9UJeX+MzziNfvVgGw==', N'7132df91-6a7d-487a-a201-2f6898cc66b2', NULL, 0, 0, NULL, 1, 0, N'ross.galloway@kantar.com', CAST(N'2014-06-05 11:21:34.353' AS DateTime))
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [RegistrationDate]) VALUES (N'0c02c5d1-74cd-4edb-85ec-4ff855f497be', N'garj', N'basi', N'garj.basi@kantar.com', 1, N'AFqPFtvTWcPnZr4ufaA/Ch5O0Xr2Mnx/RYhOalhjbuuVmrW0S4moC4Lrl3fzNw9qmA==', N'1558caa0-7d40-434f-a61e-6c8ae52cc216', NULL, 0, 0, NULL, 1, 0, N'garj.basi@kantar.com', CAST(N'2014-06-05 10:10:09.940' AS DateTime))
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [RegistrationDate]) VALUES (N'0ded20fb-cea6-4a91-8580-77f2f19be0e8', N'Shawn', N'Pitt', N'shawn.pitt@millwardbrown.com', 1, N'ANoQxsMqzTLYRcQ3hmnbrPo7QPZhxemlZnBfORVHhzo1K11MA/8Pxp3yXTclO4chMg==', N'7a3b48c8-7b1e-4ff0-949a-63a9c21d74f2', NULL, 0, 0, NULL, 1, 0, N'shawn.pitt@millwardbrown.com', CAST(N'2014-06-11 19:58:46.070' AS DateTime))
INSERT [dbo].[LongRunningPoints] ([UserId], [SecondStagePoints], [QuarterFinalPoints], [SemiFinalPoints], [SmallFinalPoints], [FinalPoints], [WinnerPoints]) VALUES (N'01348079-b1f8-46ee-ad65-21ae96c23770', 50, 50, 45, 0, 25, 0)
INSERT [dbo].[LongRunningPoints] ([UserId], [SecondStagePoints], [QuarterFinalPoints], [SemiFinalPoints], [SmallFinalPoints], [FinalPoints], [WinnerPoints]) VALUES (N'0c02c5d1-74cd-4edb-85ec-4ff855f497be', 55, 40, 45, 0, 0, 0)
INSERT [dbo].[LongRunningPoints] ([UserId], [SecondStagePoints], [QuarterFinalPoints], [SemiFinalPoints], [SmallFinalPoints], [FinalPoints], [WinnerPoints]) VALUES (N'26b325d6-32c0-4e5f-922b-b920b6401ffe', 60, 40, 30, 0, 0, 0)
INSERT [dbo].[LongRunningPredictions] ([UserId], [SecondStageTeams], [QuarterFinalTeams], [SemiFinalTeams], [SmallFinalTeams], [FinalTeams], [WinnerTeamId]) VALUES (N'01348079-b1f8-46ee-ad65-21ae96c23770', N'arg,bel,bra,civ,cro,fra,ger,gre,ita,ned,nga,por,rus,esp,sui,uru', N'arg,bel,bra,fra,ger,por,esp,uru', N'arg,bra,ger,esp', N'arg,ger', N'bra,ger', N'bra')
INSERT [dbo].[LongRunningPredictions] ([UserId], [SecondStageTeams], [QuarterFinalTeams], [SemiFinalTeams], [SmallFinalTeams], [FinalTeams], [WinnerTeamId]) VALUES (N'0c02c5d1-74cd-4edb-85ec-4ff855f497be', N'arg,bel,bra,chi,col,eng,fra,ger,jpn,mex,nga,por,rus,esp,sui,uru', N'arg,bra,eng,fra,ger,por,esp,uru', N'arg,bra,ger,esp', N'arg,ger', N'bra,esp', N'bra')
INSERT [dbo].[LongRunningPredictions] ([UserId], [SecondStageTeams], [QuarterFinalTeams], [SemiFinalTeams], [SmallFinalTeams], [FinalTeams], [WinnerTeamId]) VALUES (N'26b325d6-32c0-4e5f-922b-b920b6401ffe', N'arg,bel,bra,chi,col,eng,fra,ger,gre,ita,ned,por,esp,sui,usa,uru', N'arg,bel,bra,ger,ita,por,esp,uru', N'bra,ger,por,esp', N'arg,ger', N'bra,esp', N'esp')
SET IDENTITY_INSERT [dbo].[LongRunningResults] ON 

INSERT [dbo].[LongRunningResults] ([Id], [SecondStageTeams], [QuarterFinalTeams], [SemiFinalTeams], [SmallFinalTeams], [FinalTeams], [WinnerTeamId]) VALUES (1, N'alg,arg,bel,bra,chi,col,crc,fra,ger,gre,mex,ned,nga,sui,usa,uru', N'arg,bel,bra,col,crc,fra,ger,ned', N'arg,bra,ger,ned', N'bra,ned', N'arg,ger', N'ger')
SET IDENTITY_INSERT [dbo].[LongRunningResults] OFF
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([Id], [State], [Stage], [HomeTeamId], [AwayTeamId], [Date], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (1, 2, 0, N'bra', N'cro', CAST(N'2014-06-12 20:00:00.000' AS DateTime), 0, 1, 1, 3, 1, 4, 0)
INSERT [dbo].[Matches] ([Id], [State], [Stage], [HomeTeamId], [AwayTeamId], [Date], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (2, 2, 0, N'mex', N'cmr', CAST(N'2014-06-13 16:00:00.000' AS DateTime), 0, 0, 0, 1, 0, 2, 0)
INSERT [dbo].[Matches] ([Id], [State], [Stage], [HomeTeamId], [AwayTeamId], [Date], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (3, 2, 1, N'esp', N'ned', CAST(N'2014-06-13 19:00:00.000' AS DateTime), 2, 1, 1, 1, 5, 4, 0)
SET IDENTITY_INSERT [dbo].[Matches] OFF
SET IDENTITY_INSERT [dbo].[MatchPoints] ON 

INSERT [dbo].[MatchPoints] ([MatchPointsId], [UserId], [MatchId], [Points]) VALUES (1, N'01348079-b1f8-46ee-ad65-21ae96c23770', 1, 3)
INSERT [dbo].[MatchPoints] ([MatchPointsId], [UserId], [MatchId], [Points]) VALUES (2, N'0c02c5d1-74cd-4edb-85ec-4ff855f497be', 1, 3)
INSERT [dbo].[MatchPoints] ([MatchPointsId], [UserId], [MatchId], [Points]) VALUES (3, N'0ded20fb-cea6-4a91-8580-77f2f19be0e8', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[MatchPoints] OFF
SET IDENTITY_INSERT [dbo].[MatchPredictions] ON 

INSERT [dbo].[MatchPredictions] ([MatchPredictionId], [UserId], [MatchId], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (1, N'5f2a5997-c153-4a0e-9939-480f688d0c33', 1, 0, 2, 1, 3, 1, 2, 1)
INSERT [dbo].[MatchPredictions] ([MatchPredictionId], [UserId], [MatchId], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (2, N'01348079-b1f8-46ee-ad65-21ae96c23770', 1, 0, 0, 0, 1, 0, 2, 0)
INSERT [dbo].[MatchPredictions] ([MatchPredictionId], [UserId], [MatchId], [Result], [HomeTeamHalfTimeGoals], [AwayTeamHalfTimeGoals], [HomeTeamFullTimeGoals], [AwayTeamFullTimeGoals], [YellowCards], [RedCards]) VALUES (3, N'01348079-b1f8-46ee-ad65-21ae96c23770', 2, 1, 0, 0, 0, 0, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[MatchPredictions] OFF
INSERT [dbo].[Parameters] ([Name], [Value]) VALUES (N'ApplicationLogo', N'kantar.worldcup.logo.png')
INSERT [dbo].[Parameters] ([Name], [Value]) VALUES (N'ApplicationLogoText', N'Kantar World Cup 2014')
INSERT [dbo].[Parameters] ([Name], [Value]) VALUES (N'IntroductionText', N'Welcome to the Kantar World Cup 2014 Pool. The pool has two parts: before the first match of the tournament is played, you should predict the teams going to the knockout stage. Next to this, you need to predict the half time and full time scores, and yellow and red cards for every match in the tournament. As soon as a match for the knockout stage is known, these will be visible on this website. You will be able to update your predictions until the match starts.')
SET IDENTITY_INSERT [dbo].[RaisedMoney] ON 

INSERT [dbo].[RaisedMoney] ([Id], [Date], [Amount]) VALUES (1, CAST(N'2014-06-04 00:00:00.000' AS DateTime), 5)
INSERT [dbo].[RaisedMoney] ([Id], [Date], [Amount]) VALUES (2, CAST(N'2014-06-05 00:00:00.000' AS DateTime), 45)
INSERT [dbo].[RaisedMoney] ([Id], [Date], [Amount]) VALUES (3, CAST(N'2014-06-06 00:00:00.000' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[RaisedMoney] OFF
SET IDENTITY_INSERT [dbo].[SystemParameters] ON 

INSERT [dbo].[SystemParameters] ([Id], [GroupHalfTimeScoreFactor], [GroupFullTimeScoreFactor], [GroupWinnerFactor], [GroupYellowCardsNumberFactor], [GroupRedCardsNumberFactor], [FinalsHalfTimeScoreFactor], [FinalsFullTimeScoreFactor], [FinalsWinnerFactor], [FinalsYellowCardsNumberFactor], [FinalsRedCardsNumberFactor], [Round16TeamsFactor], [QuarterFinalTeamsFactor], [SemiFinalTeamsFactor], [SmallFinalTeamsFactor], [FinalTeamsFactor], [WinnerTeamFactor]) VALUES (1, 2, 2, 2, 1, 1, 2, 4, 5, 2, 2, 5, 10, 15, 15, 25, 50)
SET IDENTITY_INSERT [dbo].[SystemParameters] OFF
INSERT [dbo].[Teams] ([Id], [Name], [Code]) VALUES (N'alg', N'Algeria', N'ALG')
INSERT [dbo].[Teams] ([Id], [Name], [Code]) VALUES (N'arg', N'Argentina', N'ARG')
INSERT [dbo].[Teams] ([Id], [Name], [Code]) VALUES (N'aus', N'Australia', N'AUS')
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[LongRunningPoints]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[LongRunningPredictions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_WinnerTeamId]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_WinnerTeamId] ON [dbo].[LongRunningPredictions]
(
	[WinnerTeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_WinnerTeamId]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_WinnerTeamId] ON [dbo].[LongRunningResults]
(
	[WinnerTeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_MATCH_HOMETEAMAWAYTEAM]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_MATCH_HOMETEAMAWAYTEAM] ON [dbo].[Matches]
(
	[HomeTeamId] ASC,
	[AwayTeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_MATCHPOINTS_USER_MATCH]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_MATCHPOINTS_USER_MATCH] ON [dbo].[MatchPoints]
(
	[UserId] ASC,
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_MATCHPREDICTION_USER_MATCH]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_MATCHPREDICTION_USER_MATCH] ON [dbo].[MatchPredictions]
(
	[UserId] ASC,
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
/****** Object:  Index [UN_RAISEDMONEY_DATE]    Script Date: 7/20/2014 4:37:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_RAISEDMONEY_DATE] ON [dbo].[RaisedMoney]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LongRunningPoints]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LongRunningPoints_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LongRunningPoints] CHECK CONSTRAINT [FK_dbo.LongRunningPoints_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LongRunningPredictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LongRunningPredictions_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LongRunningPredictions] CHECK CONSTRAINT [FK_dbo.LongRunningPredictions_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LongRunningPredictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LongRunningPredictions_dbo.Teams_WinnerTeamId] FOREIGN KEY([WinnerTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[LongRunningPredictions] CHECK CONSTRAINT [FK_dbo.LongRunningPredictions_dbo.Teams_WinnerTeamId]
GO
ALTER TABLE [dbo].[LongRunningResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LongRunningResults_dbo.Teams_WinnerTeamId] FOREIGN KEY([WinnerTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[LongRunningResults] CHECK CONSTRAINT [FK_dbo.LongRunningResults_dbo.Teams_WinnerTeamId]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Matches_dbo.Teams_AwayTeamId] FOREIGN KEY([AwayTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_dbo.Matches_dbo.Teams_AwayTeamId]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Matches_dbo.Teams_HomeTeamId] FOREIGN KEY([HomeTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_dbo.Matches_dbo.Teams_HomeTeamId]
GO
ALTER TABLE [dbo].[MatchPoints]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchPoints_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchPoints] CHECK CONSTRAINT [FK_dbo.MatchPoints_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MatchPoints]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchPoints_dbo.Matches_MatchId] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
GO
ALTER TABLE [dbo].[MatchPoints] CHECK CONSTRAINT [FK_dbo.MatchPoints_dbo.Matches_MatchId]
GO
ALTER TABLE [dbo].[MatchPredictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchPredictions_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchPredictions] CHECK CONSTRAINT [FK_dbo.MatchPredictions_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MatchPredictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchPredictions_dbo.Matches_MatchId] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
GO
ALTER TABLE [dbo].[MatchPredictions] CHECK CONSTRAINT [FK_dbo.MatchPredictions_dbo.Matches_MatchId]
GO
USE [master]
GO
