################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorldCup/obj/Debug
*.user
*.suo
/WorldCup/bin
/packages
*.cache
