@using System.Globalization
@model DateTime
           
@{ var modelvalue = Model != default(DateTime) ? Model.ToString(CultureInfo.InvariantCulture) : DateTime.Now.ToString(CultureInfo.InvariantCulture);}
<div id="datetimepicker" class="input-group date" data-date-format="DD/MM/YYYY HH:mm">
    <input type='text' class="form-control" name="@Html.NameForModel()" />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

<script>
    $(function () {
        $("#datetimepicker").datetimepicker({
            minuteStepping: 15
        });
        $("#datetimepicker").data("DateTimePicker").setMinDate(new Date(2014, 5, 12));
        $("#datetimepicker").data("DateTimePicker").setMaxDate(new Date(2014, 6, 13));
        $("#datetimepicker").data("DateTimePicker").setDate('@modelvalue');
    });
</script>