@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">This is a small web application for predictions regarding World Cup 2014</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Users rating</h2>
        <p>
            Maybe a list with the top users according to current results
        </p>
    </div>
    <div class="col-md-6">
        <h2>Upcoming matches</h2>
        <p>Maybe a list with upcoming matches</p>
    </div>
</div>