@{
    ViewBag.Title = "Rules";
}
<div class="page-header">
    <h1>Rules</h1>
</div>
<h2>General</h2>
<p>To play, first you must register on the site. You can register on the site at any time, but before your account is activated and you can start predicting the matches, you will first need to pay your local Brighter Futures UNICEF champion @ViewBag.UnicefChampion.<p>
<p>The fee for playing is: @ViewBag.PlayingFee. All profits from the site will go our UNICEF project Brighter Futures. Find out more at <a href="http://www.unicef.org.uk/UNICEFs-Work/Our-supporters/Organisations/Corporate-partners/Kantar/" target="_blank">the Kantar Brighter Futures website</a>.</p>

<h2>Predictions</h2>
<p>You can predict the following aspects of each game: </p>
<ol>
    <li>The half time score</li>
    <li>The full time score</li>
    <li>The number of yellow cards</li>
    <li>The number of red cards</li>
    <li>The teams advancing to the final round(s) - However, you must do this before the first match of the tournament starts.</li>
</ol>
<h3>Group stage</h3>
<p>In the group stage the teams will play one match against each of the other teams in the same group, resulting in 6 matches per group. There are 8 groups in total, so you will have to predict the results for 48 matches in this stage.</p>
<p>During the group stage, points are awarded as follows:</p>
<table class="table table-hover">
    <tr>
        <th class="col-sm-1">Points</th>
        <th class="col-sm-3">&nbsp;</th>
        <th class="col-sm-8">Prediction</th>
    </tr>
    <tr>
        <td>2</td>
        <td>Correct winner</td>
        <td>If you correctly guessed the winner or correctly predicted a draw.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Half time score</td>
        <td>If you correctly guessed the half time score.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Full time score</td>
        <td>If you correctly guessed the full time score.</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Number of red cards</td>
        <td>If you correctly guessed the number of red cards.</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Number of yellow cards</td>
        <td>If you correctly guessed the number of yellow cards.</td>
    </tr>
    <tr class="active">
        <td colspan="3">8 points max in total are available per match</td>
    </tr>
</table>
<p>&nbsp;</p>
<blockquote>
    <footer>Example:</footer>
    <p>You predicted 0-2 during half time and 1-3 after full time for a certain match. You also predicted 0 red cards and 3 yellow cards and the winner of the match.</p>
    <p>The final score turned out to be 0-0 during half time and 0-2 after full time and no red cards and no yellow cards were shown.</p>
    <p>You scored 2 points for indicating the correct winner and 1 point for correctly guessing the number of red cards, so a total of 3 points.</p>
</blockquote>
<p>Please note that you can change your predictions until the match starts.</p>
<p>&nbsp;</p>
<h3>Knockout stage</h3>
<p>The sixteen team that advance from the group stage will play the knockout stage. In order to win the world cup, the teams face 4 rounds of matches. If a match is not decided after 90 minutes, 2 x 15 minutes of extra time will be added. If this is the case, this will be considered the full time result. After the extra time, a penalty shootout will determine the winner of that match. Goals scored during the penalty shootout will not count for the match result.</p>
<p>When the teams playing in the matches in the final rounds are available, you will be able to enter your predictions. This means you will need to keep track of your predictions during the last rounds.</p>
<p>During the knockout stage, the points are awarded as follows:</p>
<table class="table table-hover">
    <tr>
        <th class="col-sm-1">Points</th>
        <th class="col-sm-3">&nbsp;</th>
        <th class="col-sm-8">Prediction</th>
    </tr>
    <tr>
        <td>5</td>
        <td>Correct winner</td>
        <td>If you correctly guessed the winner.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Half time score</td>
        <td>If you correctly guessed the half time score.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Full time score</td>
        <td>If you correctly guessed the full time score, possibly after extra time (excluding penalties).</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Number of red cards</td>
        <td>If you correctly guessed the number of red cards.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Number of yellow cards</td>
        <td>If you correctly guessed the number of yellow cards.</td>
    </tr>
    <tr class="active">
        <td colspan="3">15 points max in total per match</td>
    </tr>
</table>
<h3>Knockout teams prediction</h3>
<p>You are also able to predict who will go through the next round(s) during the group phase. You will need to submit those teams before the first match of the tournament is played. So you will need to predict who will go to the Round of 16, Quarter-finals, Semi-finals, 3rd place match and Final. The points for correctly predicting which team advances are:</p>
<table class="table table-hover">
    <tr>
        <th class="col-sm-1">Points</th>
        <th class="col-sm-3">&nbsp;</th>
        <th class="col-sm-8">Prediction</th>
    </tr>
    <tr>
        <td>5</td>
        <td>Round of 16 teams</td>
        <td>For every correctly chosen team that advances to the round of 16.</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Quarter final teams</td>
        <td>For every correctly chosen team that advances to the quarter finals.</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Semi-final teams</td>
        <td>For every correctly chosen team that advances to the semi-finals.</td>
    </tr>
    <tr>
        <td>15</td>
        <td>3<sup>rd</sup> place match teams</td>
        <td>For every correctly chosen team that plays the 3rd place match.</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Final teams</td>
        <td>For every correctly chosen team that plays the final.</td>
    </tr>
    <tr>
        <td>50</td>
        <td>World cup winner</td>
        <td>For predicting the correct world cup winner</td>
    </tr>
</table>
<p>&nbsp;</p>
<blockquote>
    <footer>Example:</footer>
    <p>When you selected 10 out of the possible 16 teams going to the round of 16 correctly, you receive 50 points. When another 8 of those selected are in the quarter finals, you will receive another 80 points. You will receive another 45 points if 3 of those you select reach the semi-final. Correctly predicting the tournament winner will bring you a lot of points: 25 for being in the final and another 50 for the championship.</p>
</blockquote>
<p>The system is set up in such a way that you can select any of the teams in the final rounds – regardless of whether you have selected the teams in an earlier round or not. So your world cup winner does not have to be one of your earlier predicted finalists.</p>

<p>After each match is played, the rankings will be recalculated and they will be shown on the <a href="/">homepage</a> and the <a href="/Rankings/">rankings</a> page.</p>

<p>&nbsp;</p>

<h2>Prize distribution</h2>
@Html.Raw(ViewBag.PrizePoolDistribution)