@{
    ViewBag.Title = "Rules";
}
<div class="page-header">
    <h2>Rules</h2>
</div>
<p>
    Predict the following aspects of each game:
</p>
<ol>
    <li>The half time score</li>
    <li>The full time score</li>
    <li>The number of yellow cards</li>
    <li>The number of red cards</li>
    <li>The teams advancing to the final round(s)</li>
</ol>
