@{
    ViewBag.Title = "You are not confirmed yet";
}
<div class="page-header">
    <h2>Too bad!</h2>
</div>
<p>Currently, you are not allowed to make any predictions yet. Please pay @ViewBag.UnicefChampion the required @ViewBag.PlayingFee first in order to compete.</p>

@Html.ActionLink("Back to home page", "Index", "Home", new {@class = "btn btn-primary"})