@model WorldCup.Common.Entities.Match

@{
    ViewBag.Title = "Add new match";
}

<h2>Add new match</h2>

@using (Html.BeginForm("Add", "AdminMatches", FormMethod.Post, new { role = "form" }))
{
    @Html.EditorForModel()
}