@model WorldCup.Common.Entities.Match

@{
    ViewBag.Title = "Edit match details";
}

<h3>Edit match details @Model.HomeTeam.Name vs @Model.AwayTeam.Name</h3>

@using (Html.BeginForm("Edit", "AdminMatches", FormMethod.Post, new { role = "form" }))
{
    @Html.EditorForModel(new { selectTeamsAllowed = false })
}