@using System.Globalization
@using GridMvc.Html
@{
    ViewBag.Title = "Matches overview";
}

@model IQueryable<WorldCup.Common.Entities.Match>

<h2>Upcoming matches</h2>

@Html.ActionLink("Add new match", "Add", null, new {@class = "btn btn-primary"})

@Html.Grid(Model).Named("matches").Columns(columns =>
    {
        columns.Add(m => m.Id, true);
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(m => @Html.ActionLink("Edit", "Edit", new { id = m.Id }, new { @class = "btn btn-primary" }))
            .SetWidth(10);
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(m => m.Date.Add((TimeSpan)ViewBag.TimeZoneOffset).ToString("dd/MM/yyyy HH:mm"))
            .Titled("Date")
            .SetWidth(20);
        columns.Add(m => m.Stage).Titled("Stage").SetWidth(10);
        columns.Add(m => m.HomeTeam.Name)
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(u => Html.Partial("_FlaggedTeam", new[] { u.HomeTeam.Name, u.HomeTeam.Code }))
            .Titled("Home Team")
            .SetWidth(25);
        columns.Add(m => m.AwayTeam.Name)
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(u => Html.Partial("_FlaggedTeam", new[] { u.AwayTeam.Name, u.AwayTeam.Code }))
            .Titled("Away Team")
            .SetWidth(25);
        columns.Add(m => m.State).Titled("State").SetWidth(10);
    }).Sortable().WithPaging(15).Filterable()