@model string

@{
    ViewBag.Title = "Admin Rankings";
}

<div class="page-header">
    <h1>Update rankings<br />
    <small>Calculate current scores</small></h1>
</div>
<p>Use the buttons below calculate the current scores. Only matches which are marked as <i>finalized</i> will be affected.</p>
<hr />  
@Html.ActionLink("Update match rankings", "UpdateMatchRankings", null, new { @class = "btn btn-warning" })
@Html.ActionLink("Update long running rankings", "UpdateLongRunningRankings", null, new { @class = "btn btn-warning" })
<br/>
<div>@Model</div>
<hr />
<h3>Panic button</h3>
<p>Okay, we may have exaggerated a little: you can actually undo rankings for a match. Select a match below and reset the results for that particular match. The match status will be reset to 'visible for predictions'. However, you <strong>really</strong> cannot undo this operation.</p>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="match" class="col-sm-2 control-label">Match:</label>
        <div class="col-sm-10">
            <select name="match" id="match" class="form-control">
                <option>Choose your match</option>
                <option value="38">24 June: Costa Rica vs England</option>
                <option value="37">24 June: Italy vs Uruguay</option>
                <option value="36">24 June: Croatia vs Mexico</option>
                <option value="35">24 June: Cameroon vs Brazil</option>
                <option value="...">all other matches</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Reset" class="btn btn-danger" />
        </div>
    </div>
</form>