@model string

@{
    ViewBag.Title = "Admin Rankings";
}

Trigger update of user rankings for each match and for long running predictions
<br/>
@Html.ActionLink("Update match rankings", "UpdateMatchRankings", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Initialize matches", "UpdateLongRunningRankings", null, new { @class = "btn btn-primary" })

<br/>
<div>@Model</div>