@using GridMvc.Html

@model IEnumerable<WorldCup.Models.UserMatchModel>

@{
    ViewBag.Title = "Rankings";
}

<div class="page-header">
    <h1>Your results</h1>
</div>

@Html.Grid(Model).Named("userLatestResults").Columns(columns =>
        {
            columns.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(lr => Html.Partial("_LocalizableDateTime", lr.Date))
                .Titled("Date").SetWidth(30);
            columns.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(ur => Html.ActionLink(ur.Match, "MatchPrediction", "Predictions", new { id = ur.MatchId }, null))
                .Titled("Match")
                .SetWidth(60);
            columns.Add(ur => ur.Points).Titled("Points").SetWidth(10);
        }).Selectable(false).WithPaging(20).Filterable()