@using GridMvc.Html
@{
    ViewBag.Title = "Users Administration";
}

@model IQueryable<WorldCup.Common.Entities.ApplicationUser>
           
<h2>Users Administration operations</h2>

@Html.Grid(Model).Named("usersGrid").Columns(columns =>
    {
        columns.Add(u => u.Id, true);
        columns.Add(u => u.UserName).Titled("UserName").SetWidth(25);
        columns.Add(u => u.FirstName).Titled("Name").RenderValueAs(u => u.FirstName + " " + u.LastName).SetWidth(50);
        columns.Add(u => u.EmailConfirmed)
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(u => @<input type="checkbox" checked="@u.EmailConfirmed" value="@u.Id" name="EmailConfirmed" />)
            .Titled("Confirmed").SetWidth(10);
    }).SetRowCssClasses(u=>u.Roles.Any() ? "adminRow" : "").Sortable()

<script type="text/javascript">
    $(function () {
        $('input[type=checkbox]').change(function () {

            var action, checkBox = this;

            if (this.checked) {
                action = "Activate";
            } else {
                action = "Deactivate";
            }

            var json =JSON.stringify({ userId : this.value });

            $.ajax({
                url: '/AdminUsers/'+ action,
                type: 'POST',
                dataType: 'json',
                data: json,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    toastr.success(data);
                },
                error: function (data) {
                    toastr.error(data.statusText);
                    checkBox.checked = !checkBox.checked;
                }
            });
        });
    });
</script>