@{
    ViewBag.Title = "Long running predictions info";
}

<div class="page-header">
    <h2>
        Long running predictions<br />
        <small>Your selection of teams</small>
    </h2>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the round of 16
    </div>
    <div class="col-md-6">
        ARG BEL BRA CRC ENG FRA GER GRE ITA JPN NED SPA SUI POR USA URU
    </div>
    <div class="col-md-2">
        20 points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the quarter final
    </div>
    <div class="col-md-6">
        ARG BRA CRC FRA GER NED POR USA
    </div>
    <div class="col-md-2">
        40 points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the semi final
    </div>
    <div class="col-md-6">
        ARG BRA POR USA
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the third place match
    </div>
    <div class="col-md-6">
        ARG USA
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the final
    </div>
    <div class="col-md-6">
        BRA POR
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Winner
    </div>
    <div class="col-md-6">
        BRA
    </div>
    <div class="col-md-2">
    </div>
</div>