@model WorldCup.Common.Entities.MatchPrediction

@{
    ViewBag.Title = string.Format("{0} vs {1} predictions", Model.Match.HomeTeam.Name, Model.Match.AwayTeam.Name);
}

<h2>title</h2>

@Html.HiddenFor(m=>m.Id)