@{
    ViewBag.Title = "Invalid prediction";
}

<p>
    The event is no longer available for predictions.
</p>

@Html.ActionLink("Back to home page", "Index", "Home", new { @class = "btn btn-primary" })