@using GridMvc.Html

@model IQueryable<WorldCup.Models.Rankings.UserRankingViewModel>

@{
    ViewBag.Title = "Rankings";
}

<div class="page-header">
    <h1>Rankings</h1>
</div>

<div id="currentRankingChart" style="max-width:1140px;height: 450px;">
    
</div>

<div class="row">
    @{ var userName = User.Identity.Name;}
        <h2>Current ranking</h2>
    @Html.Grid(Model).Named("rankings").Columns(columns =>
    {
        columns.Add(ur => ur.Postion).Titled("#").SetWidth(10);
        columns.Add(ur => ur.Name).Titled("Name").SetWidth(45);
        columns.Add(ur => ur.MatchPoints).Titled("Matches Points").SetWidth(15);
        columns.Add(ur => ur.LongRunningPoints).Titled("Long running Points").SetWidth(15);
        columns.Add(ur => ur.TotalPoints).Titled("Total Points").SetWidth(15);
    }).Sortable().SetRowCssClasses(ur => ur.UserName == userName ? "warning" : "").WithPaging(10).Filterable()
    
</div>

<script type="text/javascript">

    $(function () {

        $.ajax({
            url: '/Rankings/TopUsersInfo?numberOfUsers=10',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                updateToptenChart(data);
            },
            error: function (data) {
                toastr.error(data.statusText);
            }
        });
    });

    var updateToptenChart =  function(data) {

        $("#currentRankingChart").dxChart({
            title: {
                text: 'Current top 10'
            },
            legend: {
                horizontalAlignment: 'center',
                verticalAlignment: 'bottom'
            },
            tooltip: {
                enabled: true
            },
            dataSource: data.rankings,

            commonSeriesSettings: {
                argumentField: 'date'
            },
            series: data.users
        });
    }
</script>